.paper {
  padding: 1rem;
  cursor: pointer;
}

.share-container {
  display: flex;
}

.share-ticker-wrapper {
  flex-grow: 0.6;
  flex-basis: 60%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.share-ticker {
  margin: 0;
}

.share-company {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
}

.share-price-wrapper {
  flex-grow: 0.4;
  flex-basis: 40%;
  position: relative;
}

.share-price {
  position: absolute;
  background-color: green;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.25rem;
  width: 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.trade-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.checkout-container {
  margin: 0.5rem;
}

.checkout-item-wrapper {
  width: 50%;
}

.checkout-label {
  display: inline-block;
  width: 35%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkout-value {
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

.trade-form-info {
  margin: 1rem 0.5rem;
}

.form-input {
  width: 50%;
}

@media (max-width: 1024px) {
  .checkout-item-wrapper {
    width: 100%;
  }

  .checkout-label {
    width: 50%;
  }

  .form-input {
    width: 100%;
  }
}
